* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  margin: 8rem auto;
  width: 600px;
  text-align: center;
  justify-content: center;
}
form button {
  margin-top: 0.8rem;
}
.task-list {
  width: 600px;
  margin: 10px auto;
  text-align: left;
  justify-content: center;
  box-shadow: 1px 2px 2px #23e4fc;
  margin-top: 0;
}
.list-render {
  justify-content: space-between;
}
#icon {
  float: right;
}
